<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Disease Prediction</title>
    <style>
        body{
            background-color: #BDCDD6;
        }
        div {
            text-align: center;
        }
        form {
            display: inline-block;
            text-align: left;
        }
        label {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
        input[type=text] {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        button[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type=submit]:hover {
            background-color: #45a049;
        }
        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }
        h3 {
            margin-top: 20px;
            font-size: 18px;
        }
    </style>

</head>
<body>
    <div>
        <br><br><br>
        <h1>Diabetes Predicton using PIMA Indian Dataset</h1><br><br>
        <form action="{{url_for('predict')}}" method="post">

            <label for="fname">Pregnancies :</label><br>
            <input type="text" name="Pregnancies"><br><br>

            <label for="fname">Glucose :</label><br>
            <input type="text" name="Glucose"><br><br>

            <label for="fname">BloodPressure :</label><br>
            <input type="text" name="BloodPressure"><br><br>

            <label for="fname">SkinThickness :</label><br>
            <input type="text" name="SkinThickness"><br><br>

            <label for="fname">Insulin :</label><br>
            <input type="text" name="Insulin"><br><br>

            <label for="fname">BMI :</label><br>
            <input type="text" name="BMI"><br><br>

            <label for="fname">DiabetesPedigreeFunction :</label><br>
            <input type="text" name="DiabetesPedigreeFunction"><br><br>

            <label for="fname">Age :</label><br>
            <input type="text" name="Age"><br><br>


            <button type="submit">Predict</button>

        </form>
        
        <h3><br>{{prediction_test}}</h3>
    

        <br><br>
        <h1>Breast Cancer Predicton using Wisconsin Dataset</h1><br><br>
        <form action="{{url_for('predictbreast')}}" method="post">

            <label for="fname">Radius Mean :</label><br>
            <input type="text" name="radmean"><br><br>

            <label for="fname">Texture mean :</label><br>
            <input type="text" name="textmean"><br><br>

            <label for="fname">Perimeter Mean :</label><br>
            <input type="text" name="perimean"><br><br>

            <label for="fname">Area Mean :</label><br>
            <input type="text" name="areamean"><br><br>

            <label for="fname">Smoothness Mean :</label><br>
            <input type="text" name="smoothmean"><br><br>

            <label for="fname">Compactness Mean :</label><br>
            <input type="text" name="compactmean"><br><br>

            <label for="fname">Concavity mean :</label><br>
            <input type="text" name="concavitymean"><br><br>

            <label for="fname">Concave Points Mean :</label><br>
            <input type="text" name="concavepointsmean"><br><br>

            <label for="fname">Symmetry Mean :</label><br>
            <input type="text" name="symmean"><br><br>

            <label for="fname">Fractal Dimension Mean :</label><br>
            <input type="text" name="fractdimmean"><br><br>

            <label for="fname">Radius se :</label><br>
            <input type="text" name="radiusSe"><br><br>

            <label for="fname">Texture Se :</label><br>
            <input type="text" name="textureSe"><br><br>

            <label for="fname">Perimeter Se  :</label><br>
            <input type="text" name="perise"><br><br>

            <label for="fname">Area Se :</label><br>
            <input type="text" name="arease"><br><br>

            <label for="fname">Smoothness Se :</label><br>
            <input type="text" name="smoothse"><br><br>

            <label for="fname">Compactness Se :</label><br>
            <input type="text" name="compactse"><br><br>

            <label for="fname">Concavity Se :</label><br>
            <input type="text" name="concavese"><br><br>

            <label for="fname">Conacave Points Se :</label><br>
            <input type="text" name="concavepointsse"><br><br>

            <label for="fname">Symmetry Se :</label><br>
            <input type="text" name="symse"><br><br>

            <label for="fname">Fractal Dimension Se :</label><br>
            <input type="text" name="fractdimse"><br><br>

            <label for="fname">Radius Worst :</label><br>
            <input type="text" name="radworst"><br><br>

            <label for="fname">Texture Worst :</label><br>
            <input type="text" name="textWorst"><br><br>

            <label for="fname">Perimeter Worst :</label><br>
            <input type="text" name="periworst"><br><br>

            <label for="fname">Area Worst :</label><br>
            <input type="text" name="areaworst"><br><br>

            <label for="fname">Smoothness Worst :</label><br>
            <input type="text" name="smoothnessworst"><br><br>

            <label for="fname">Compactness Worst :</label><br>
            <input type="text" name="compactworst"><br><br>

            <label for="fname">Concavity Worst :</label><br>
            <input type="text" name="concavityworst"><br><br>

            <label for="fname">Concave Points Worst :</label><br>
            <input type="text" name="concavepointsworst"><br><br>

            <label for="fname">Symmetryworst :</label><br>
            <input type="text" name="Symmetryworst"><br><br>


            <button type="submit">Predict</button>

        </form>
        
        <h3><br>{{prediction_testbreast}}</h3>


        <br><br>
        <h1>Heart Disease Predicton using Framingham Dataset</h1><br><br>
        <form action="{{url_for('predictHeart')}}" method="post">

            <label for="fname">Male :</label><br>
            <input type="text" name="male"><br><br>

            <label for="fname">Age :</label><br>
            <input type="text" name="ageheart"><br><br>

            <label for="fname">Education :</label><br>
            <input type="text" name="education"><br><br>

            <label for="fname">CurrentSmoker :</label><br>
            <input type="text" name="CurrentSmoker"><br><br>

            <label for="fname">CigsPerDay :</label><br>
            <input type="text" name="CigsPerDay"><br><br>

            <label for="fname">BPMeds :</label><br>
            <input type="text" name="BPMeds"><br><br>

            <label for="fname">PrevalentStroke :</label><br>
            <input type="text" name="PrevalentStroke"><br><br>

            <label for="fname">PrevalentHyp :</label><br>
            <input type="text" name="PrevalentHyp"><br><br>

            <label for="fname">Diabetes :</label><br>
            <input type="text" name="Diabetess"><br><br>

            <label for="fname">Totchol :</label><br>
            <input type="text" name="Totchol"><br><br>

            <label for="fname">SysBp :</label><br>
            <input type="text" name="SysBp"><br><br>

            <label for="fname">DiaBp :</label><br>
            <input type="text" name="DiaBp"><br><br>

            <label for="fname">BMI :</label><br>
            <input type="text" name="BMI"><br><br>

            <label for="fname">HeartRate :</label><br>
            <input type="text" name="HeartRate"><br><br>

            <label for="fname">Glucose :</label><br>
            <input type="text" name="glucosee"><br><br>

            <button type="submit">Predict</button>

        </form>
        <h3><br>{{prediction_testheart}}</h3>

    </div>

</body>
</html>